<div class="z-50 flex flex-col items-center justify-between w-full h-full">
  <span class="text-4xl font-bold text-blue-400">Password Reset</span>
  <button
    class="absolute items-center justify-center hidden top-4 right-6 md:flex"
    (click)="close()"
  >
    <ng-icon
      name="heroXMark"
      size="1.5rem"
      strokeWidth="0.175rem"
      class="flex items-center justify-center h-8 text-gray-500 rounded-full aspect-square hover:text-gray-400"
    ></ng-icon>
  </button>
  <form
    class="min-w-[220px] w-[95%] max-w-[350px] flex flex-col gap-y-6"
    [formGroup]="forgotPasswordForm"
  >
    <div class="relative mb-6">
      <label
        for="resetPasswordEmail"
        class="input-label"
        *ngIf="forgotPasswordForm.value.email?.length"
      >
        Email
      </label>
      <input
        id="resetPasswordEmail"
        name="email"
        formControlName="email"
        type="text"
        class="input-field"
        placeholder="Email"
        autocomplete="true"
      />
    </div>
    <button
      class="w-full p-2 text-white bg-blue-400 rounded-lg hover:bg-blue-500 active:bg-blue-600 disabled:hover:bg-blue-400 outline-offset-2"
      type="submit"
      (click)="sendForgotPassword()"
    >
      Send Password Reset
    </button>
  </form>
  <div class="flex items-center justify-center w-full">
    <button
      class="px-3 py-1 text-blue-400 rounded-md hover:ring-2 active:bg-gray-200"
      (click)="close()"
    >
      Back to Sign In
    </button>
  </div>
</div>
