<div class="h-full w-full z-50 flex flex-col justify-between items-center">
  <span class="text-4xl font-bold text-blue-400">Password Reset</span>
  <button
    class="absolute top-4 right-6 hidden md:flex justify-center items-center"
    (click)="close()"
  >
    <fa-icon
      [icon]="faXmark"
      class="h-8 flex justify-center items-center aspect-square rounded-full text-gray-500 hover:text-gray-400 fa-xl"
    ></fa-icon>
  </button>
  <form
    class="min-w-[220px] w-[95%] max-w-[350px] flex flex-col gap-y-6"
    [formGroup]="forgotPasswordForm"
  >
    <div class="relative">
      <input
        id="email"
        name="email"
        formControlName="email"
        type="text"
        class="input-field peer"
        placeholder="email"
      />
      <label
        for="email"
        class="input-label peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:top-2 peer-focus:-top-5 peer-focus:text-black dark:peer-focus:text-gray-100 peer-focus:text-sm"
      >
        Email
      </label>
    </div>
    <button
      class="w-full p-2 bg-blue-400 hover:bg-blue-500 active:bg-blue-600 disabled:hover:bg-blue-400 text-white rounded-lg outline-offset-2"
      type="submit"
      (click)="sendForgotPassword()"
    >
      Send Password Reset
    </button>
  </form>
  <div class="w-full flex justify-center items-center">
    <button
      class="hover:ring-2 active:bg-gray-200 text-blue-400 px-3 py-1 rounded-md"
      (click)="close()"
    >
      Back to Sign In
    </button>
  </div>
</div>
