<div
  class="flex items-center justify-end w-full h-20 p-5 transition-colors duration-500 ease-in-out"
>
  <!-- <div
    class="relative flex items-center flex-grow h-full"
    *ngIf="currentUserProfile"
    @fadeFromRight
  >
    <fa-icon
      [icon]="faMagnifyingGlass"
      class="absolute flex items-center justify-center h-full text-gray-400 rounded-full cursor-pointer aspect-square hover:bg-gray-500/50"
      (click)="onSearchIconClick(searchBar)"
    ></fa-icon>
    <input
      #searchBar
      type="text"
      placeholder="Search"
      class="w-1/2 h-full pl-12 text-gray-700 transition-colors duration-500 ease-in-out border rounded-full focus:outline-none focus:ring-0 dark:focus:ring-0 dark:text-white dark:caret-white dark:bg-slate-700"
    />
  </div> -->
  <div
    class="flex items-center h-full gap-x-5"
    *ngIf="currentUserProfile"
    @fadeFromRight
  >
    <app-notification-dropdown
      [data]="notificationDropdownData"
      (dropdownIsOpenEmitter)="setDropdown($event, 'notificationDropdown')"
      class="flex items-center justify-center w-full h-full"
    >
      <div
        class="relative flex items-center justify-center h-full transition-all duration-200 ease-in-out rounded-full cursor-pointer aspect-square hover:bg-gray-400/30 dark:hover:bg-gray-500/50"
        [ngClass]="{
          'bg-white/40 dark:bg-slate-700': notificationDropdownOpen
        }"
      >
        <fa-icon
          [icon]="faBell"
          class="text-gray-600 dark:text-gray-300 fa-lg"
        ></fa-icon>
        <div
          *ngIf="notificationCount > 0"
          class="bg-red-500 absolute top-1 right-1 p-1 h-4 min-w-[1rem] w-fit text-xs text-white rounded-full shadow-lg transition-colors duration-500 ease-in-out"
        >
          <div class="flex items-center justify-center w-full h-full">
            {{ notificationCount }}
          </div>
        </div>
      </div>
    </app-notification-dropdown>
    <app-dropdown
      [data]="dropdownData"
      [showThemeSwitch]="true"
      [showLogout]="true"
      (dropdownIsOpenEmitter)="setDropdown($event, 'menuDropdown')"
      (logoutEmitter)="logout()"
    >
      <div
        class="flex flex-col px-3 py-1 transition-colors duration-500 ease-in-out border rounded-md select-none border-slate-500 dark:border-white hover:bg-gray-500/30 dark:hover:bg-gray-500/50"
        [ngClass]="{ 'bg-white/40 dark:bg-slate-700': menuDropdownOpen }"
      >
        {{ currentUserProfile.firstName }}
        {{ currentUserProfile.lastName }}
        <span class="text-xs text-gray-500 dark:text-gray-400">
          {{ currentUserProfile.email }}
        </span>
      </div>
    </app-dropdown>
  </div>
</div>
