<div
  class="h-20 w-full p-5 flex justify-between items-center transition-colors duration-500 ease-in-out"
>
  <div
    class="relative h-full flex flex-grow items-center"
    *ngIf="currentUserProfile"
    @fadeFromRight
  >
    <fa-icon
      [icon]="faMagnifyingGlass"
      class="absolute left-3 text-gray-400 pointer-events-none"
    ></fa-icon>
    <input
      type="text"
      placeholder="Search"
      class="h-full w-1/2 pl-10 rounded-full text-black dark:text-white dark:caret-white dark:bg-slate-700 border transition-colors duration-500 ease-in-out"
    />
  </div>
  <div
    class="h-full flex items-center gap-x-5"
    *ngIf="currentUserProfile"
    @fadeFromRight
  >
    <app-notification-dropdown
      [data]="notificationDropdownData"
      (dropdownIsOpenEmitter)="setDropdown($event, 'notificationDropdown')"
      class="h-full w-full flex justify-center items-center"
    >
      <div
        class="relative flex justify-center items-center h-full aspect-square rounded-full hover:bg-gray-400/30 dark:hover:bg-gray-500/50 cursor-pointer transition-all duration-200 ease-in-out"
        [ngClass]="{
          'bg-white/40 dark:bg-slate-700': notificationDropdownOpen
        }"
      >
        <fa-icon
          [icon]="faBell"
          class="text-gray-600 dark:text-gray-300 fa-lg"
        ></fa-icon>
        <div
          *ngIf="notificationCount > 0"
          class="bg-red-500 absolute border border-slate-300 dark:border-slate-800 top-1 right-1 p-1 h-4 min-w-[1rem] w-fit text-xs text-white rounded-full shadow-lg transition-colors duration-500 ease-in-out"
        >
          <div class="h-full w-full flex justify-center items-center">
            {{ notificationCount }}
          </div>
        </div>
      </div>
    </app-notification-dropdown>
    <app-dropdown
      [data]="dropdownData"
      [showThemeSwitch]="true"
      [showLogout]="true"
      (dropdownIsOpenEmitter)="setDropdown($event, 'menuDropdown')"
      (logoutEmitter)="logout()"
    >
      <div
        class="flex flex-col border border-slate-500 dark:border-white rounded-md px-3 py-1 hover:bg-gray-500/30 dark:hover:bg-gray-500/50 transition-colors duration-500 ease-in-out"
        [ngClass]="{ 'bg-white/40 dark:bg-slate-700': menuDropdownOpen }"
      >
        {{ currentUserProfile.firstName }}
        {{ currentUserProfile.lastName }}
        <span class="text-xs text-gray-500 dark:text-gray-400">
          {{ currentUserProfile.email }}
        </span>
      </div>
    </app-dropdown>
  </div>
</div>
