<div
  class="h-full md:h-[500px] min-h-fit w-full md:w-[800px] md:max-w-[800px] md:bg-white/75 md:dark:bg-slate-800/75 backdrop-blur-md md:rounded-xl flex flex-col justify-between items-center overflow-x-hidden p-12 pb-32 md:pb-12 transition-colors duration-500 ease-in-out"
  @fadeFromBottom
>
  <div class="z-50 flex flex-col items-center justify-between w-full h-full">
    <span class="text-4xl font-bold text-blue-400">Password Reset</span>
    <form
      class="min-w-[220px] w-[95%] max-w-[350px] flex flex-col gap-y-6"
      [formGroup]="forgotPasswordForm"
    >
      <div class="relative mb-6">
        <label
          for="resetPasswordEmail"
          class="input-label"
          *ngIf="forgotPasswordForm.value.email?.length"
        >
          Email
        </label>
        <input
          id="resetPasswordEmail"
          name="email"
          formControlName="email"
          type="text"
          class="input-field"
          placeholder="Email"
          autocomplete="true"
        />
      </div>
      <button
        class="w-full p-2 text-white bg-blue-400 rounded-lg hover:bg-blue-500 active:bg-blue-600 disabled:hover:bg-blue-400 outline-offset-2"
        type="submit"
        (click)="sendForgotPassword()"
      >
        Send Password Reset
      </button>
    </form>
    <div class="flex items-center justify-center w-full">
      <button
        class="px-3 py-1 text-blue-400 rounded-md hover:ring-2 active:bg-gray-200"
        [routerLink]="['/login']"
      >
        Back to Sign In
      </button>
    </div>
  </div>
</div>
