<div class="page-container" @fadeInOut>
  <div class="justify-start page-header">
    <button
      class="flex items-center justify-center gap-2 secondary-button"
      [routerLink]="['/app/tenants']"
    >
      <ng-icon name="bootstrapArrowLeft"></ng-icon>
      Return to Tenant List
    </button>
  </div>
  <div class="flex w-full h-full gap-4">
    <div>
      <div
        class="flex flex-col justify-center items-center w-[300px] h-[350px] bg-white rounded-md gap-4 profile-picture-container"
      >
        <img
          class="profile-picture h-[150px] w-[150px] rounded-full object-cover"
          src="https://i.pravatar.cc/150"
          alt="Profile picture"
        />
        <div class="flex flex-col items-center justify-center">
          <span class="text-lg font-bold">{{ tenant.name }}</span>
          <span class="">{{ tenant.email }}</span>
        </div>
      </div>
    </div>
    <div class="flex-grow h-full overflow-hidden bg-white rounded-md">
      <mat-tab-group
        dynamicHeight
        (selectedTabChange)="handleSelectedTabChange($event.index)"
      >
        <mat-tab label="Profile">
          <ng-template matTabContent>
            <div class="p-4">
              <app-tenant-profile
                [tenant]="tenant"
                (tenantUpdated)="handleTenantUpdated($event)"
              >
              </app-tenant-profile>
            </div>
          </ng-template>
        </mat-tab>
        <mat-tab label="Payments">
          <ng-template matTabContent>
            <div class="h-full p-4">
              <app-tenant-payments [tenant]="tenant"></app-tenant-payments>
            </div>
          </ng-template>
        </mat-tab>
        <mat-tab label="Lease">
          <ng-template matTabContent>
            <div class="p-4">
              <app-tenant-leases [tenant]="tenant"></app-tenant-leases>
            </div>
          </ng-template>
        </mat-tab>
        <mat-tab label="Maintenance">
          <ng-template matTabContent>
            <div class="p-4">
              <app-tenant-maintenance
                [tenant]="tenant"
              ></app-tenant-maintenance>
            </div>
          </ng-template>
        </mat-tab>
        <mat-tab label="Documents">
          <ng-template matTabContent>
            <div class="p-4">
              <app-tenant-documents [tenant]="tenant"></app-tenant-documents>
            </div>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
