<div class="page-container">
  <div class="flex w-full h-full gap-4">
    <div>
      <div
        class="flex flex-col justify-center items-center w-[300px] h-[350px] bg-white rounded-md gap-4 profile-picture-container"
      >
        <img
          class="profile-picture h-[150px] w-[150px] rounded-full object-cover"
          src="https://i.pravatar.cc/150"
          alt="Profile picture"
        />
        <div class="flex flex-col items-center justify-center">
          <span class="text-lg font-bold">{{ tenant.name }}</span>
          <span class="">{{ tenant.email }}</span>
        </div>
      </div>
    </div>
    <div class="flex-grow h-full overflow-hidden bg-white rounded-md">
      <mat-tab-group
        (selectedTabChange)="handleSelectedTabChange($event.index)"
      >
        <mat-tab label="Profile">
          <ng-template matTabContent>
            <div class="p-4">
              <app-tenant-profile
                [tenant]="tenant"
                (tenantUpdated)="handleTenantUpdated($event)"
              >
              </app-tenant-profile>
            </div>
          </ng-template>
        </mat-tab>
        <mat-tab label="Payments">
          <div class="w-full h-full p-4">Payments Content</div>
        </mat-tab>
        <mat-tab label="Leases">
          <div class="w-full h-full p-4">Leases Content</div>
        </mat-tab>
        <mat-tab label="Maintenance">
          <div class="w-full h-full p-4">Maintenance Content</div>
        </mat-tab>
        <mat-tab label="Documents">
          <div class="w-full h-full p-4">Documents Content</div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
