<div class="static inline-block w-full h-full sm:relative">
  <div
    #toggleButton
    class="flex flex-col items-end justify-center w-full h-full text-gray-700 transition-colors duration-500 ease-in-out cursor-pointer dark:text-white whitespace-nowrap"
    (click)="toggleDropdown()"
  >
    <ng-content></ng-content>
  </div>
  <div
    #dropdown
    *ngIf="dropdownOpen"
    class="absolute right-1 sm:right-0 z-[99999] mt-3 sm:mt-1 max-h-[500px] min-w-[400px] sm:max-w-[95%] overflow-hidden bg-white rounded-md shadow-xl dark:bg-slate-700 border border-gray-300 dark:border-white text-gray-700 dark:text-white transition-colors duration-500 ease-in-out"
    @expand
  >
    <div
      class="flex items-end justify-end w-full h-8 px-3 py-1 border-b border-gray-300 dark:border-gray-500"
    >
      <button
        class="text-sm cursor-pointer hover:underline disabled:hover:no-underline disabled:cursor-not-allowed disabled:text-black/50 dark:disabled:text-white/50"
        [disabled]="data.length === 0"
        (click)="clearNotifications()"
      >
        Clear All
      </button>
    </div>

    <ul class="flex flex-col items-center justify-center w-full p-2">
      <li *ngIf="data.length === 0">
        <span class="text-xs italic text-black/50 dark:text-white/50">
          No new notifications
        </span>
      </li>
      <li
        *ngFor="let item of data"
        class="relative border-b border-gray-300 dropdown-item dark:border-gray-500 last:border-b-0"
      >
        <div
          class="flex items-center"
          *ngIf="item?.route"
          [routerLink]="[item?.route]"
          (click)="toggleDropdown()"
        >
          <span>
            {{ item?.message }}
          </span>
          <span class="text-xs text-black/50 dark:text-white/50">
            {{ item.elapsedTime }}
          </span>
        </div>
        <div
          class="flex flex-col items-end justify-center w-full h-full"
          *ngIf="!item?.route"
        >
          <span>
            {{ item?.message }}
          </span>
          <span class="text-xs text-black/50 dark:text-white/50">
            {{ item.elapsedTime }}
          </span>
        </div>
        <div
          class="flex items-center justify-center w-5 h-5 p-3 ml-3 rounded-full clickable text-black/50 dark:text-white/50"
        >
          <ng-icon
            name="bootstrapX"
            class="text-xl"
            (click)="dismissNotification(item)"
          ></ng-icon>
        </div>
      </li>
    </ul>
  </div>
</div>
