<div class="relative inline-block w-full h-full">
  <div
    #toggleButton
    class="flex flex-col items-end justify-center w-full h-full text-black cursor-pointer overflow-clip dark:text-white whitespace-nowrap"
    (click)="toggleDropdown()"
  >
    <ng-content></ng-content>
  </div>
  <div
    #dropdown
    *ngIf="dropdownOpen"
    class="absolute right-0 z-20 mt-1 overflow-hidden text-black transition-colors duration-500 ease-in-out bg-white border border-gray-300 rounded-md shadow-xl dark:bg-slate-700 dark:border-white dark:text-white"
    @expand
  >
    <ul class="flex flex-col items-center justify-center w-full p-2">
      <li
        *ngFor="let item of data"
        class="dropdown-item"
        [ngClass]="{ clickable: item?.clickable }"
        [routerLink]="[item?.route]"
        (click)="toggleDropdown()"
      >
        {{ item?.message }}
      </li>
      <li
        *ngIf="showThemeSwitch"
        class="transition-colors duration-500 ease-in-out border-t border-b border-gray-300 dropdown-item dark:border-gray-500"
      >
        <label for="toggle" class="relative flex items-center cursor-pointer">
          <fa-icon
            [icon]="faSun"
            class="mr-2 text-yellow-400 transition-opacity duration-500 opacity-100 fa-lg dark:opacity-0"
          ></fa-icon>
          <input
            type="checkbox"
            id="toggle"
            class="sr-only"
            [checked]="isDarkTheme | async"
            (click)="toggleTheme()"
          />
          <div
            class="toggle-bg bg-gray-200 border-2 border-gray-200 dark:bg-blue-400 dark:border-blue-400 h-6 w-[2.8rem] rounded-full"
          ></div>
          <fa-icon
            [icon]="faMoon"
            class="ml-2 text-gray-300 transition-opacity duration-500 opacity-0 fa-lg dark:opacity-100"
          ></fa-icon>
        </label>
      </li>
      <li *ngIf="showLogout" class="dropdown-item">
        <button
          class="px-5 py-2 rounded-md bg-slate-300 dark:bg-blue-400 dark:hover:bg-blue-500 hover:bg-slate-400 dark:active:bg-blue-600 active:bg-slate-400"
          (click)="logout()"
        >
          Sign Out
        </button>
      </li>
    </ul>
  </div>
</div>
