<div class="flex w-full h-full gap-3 p-5 overflow-auto justify-eve">
  <div class="relative w-full h-full overflow-auto rounded lg:px-20 md:px-0">
    <table class="absolute top-0 bottom-0 left-0 right-0" @fadeFromBottom>
      <thead>
        <tr>
          <th>Tenant Name</th>
          <th>Address</th>
          <th>City</th>
          <th>State</th>
          <th>Occupied</th>
          <th>Rent Amount</th>
          <th>Last Payment</th>
          <th>On Time</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of propertyList">
          <td>{{ item.tenantFullName }}</td>
          <td>{{ item.streetAddress }}</td>
          <td>{{ item.city }}</td>
          <td>{{ item.state }}</td>
          <td>{{ item.occupied ? "yes" : "no" }}</td>
          <td>{{ item.rentAmount | currency }}</td>
          <td>{{ item.lastPaymentDate | date }}</td>
          <td>{{ item.onTimePercentage | percent }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- <div class="flex w-full h-full gap-3 p-5 justify-evenly">
  <div class="flex-grow max-w-2xl" *ngIf="tenantList.length > 0">
    <div
      class="mb-2 text-black transition duration-500 ease-in-out border-b border-slate-300 dark:text-white"
    >
      My Home
    </div>
    <div
      class="h-[26rem] w-full p-2 border border-slate-300 bg-neutral-100 dark:bg-zinc-800 hover:bg-black/5 dark:hover:bg-white/5 rounded-xl overflow-hidden cursor-pointer transition duration-500 ease-in-out"
      *ngFor="let property of tenantList"
    >
      <div class="relative w-full overflow-hidden rounded-lg h-2/3">
        <img
          class="absolute top-0 left-0 object-cover w-full h-full"
          [src]="property.thumbnail"
          [alt]="property.title"
          [hidden]="!property.loaded"
          (load)="property.loaded = true"
          [@fadeImage]="property.loaded ? 'show' : 'hide'"
        />
        <div
          class="absolute top-0 left-0 w-full h-full bg-gray-700 opacity-0 animate-pulse"
          *ngIf="!property.loaded && property.thumbnail"
        ></div>
      </div>
      <div
        class="z-50 w-full p-3 transition-all duration-500 ease-in-out h-1/3 hover:h-full hover:backdrop-blur-sm"
      >
        <div
          class="text-black transition duration-500 ease-in-out font-semi-bold dark:text-white"
        >
          {{ property.street }}
          <div *ngIf="property.unit" class="pl-0">{{ property.unit }}</div>
        </div>
        <div
          class="text-sm text-black transition duration-500 ease-in-out dark:text-white"
        >
          {{ property.city }}, {{ property.state }} {{ property.zip }}
        </div>
      </div>
    </div>
  </div>
  <div class="flex-grow max-w-2xl" *ngIf="ownerList.length > 0">
    <div
      class="mb-2 text-black transition duration-500 ease-in-out border-b border-slate-300 dark:text-white"
    >
      Properties
    </div>
    <div
      class="h-[26rem] w-full p-2 border border-slate-300 bg-neutral-100 dark:bg-zinc-800 hover:bg-black/5 dark:hover:bg-white/5 rounded-xl overflow-hidden cursor-pointer transition duration-500 ease-in-out"
      *ngFor="let property of ownerList"
    >
      <div class="relative w-full overflow-hidden rounded-lg h-2/3">
        <img
          class="absolute top-0 left-0 object-cover w-full h-full"
          [src]="property.thumbnail"
          [alt]="property.title"
          [hidden]="!property.loaded"
          (load)="property.loaded = true"
          [@fadeImage]="property.loaded ? 'show' : 'hide'"
        />
        <div
          class="absolute top-0 left-0 w-full h-full bg-gray-700 opacity-0 animate-pulse"
          *ngIf="!property.loaded && property.thumbnail"
        ></div>
      </div>
      <div
        class="z-50 w-full p-3 transition-all duration-500 ease-in-out h-1/3 hover:h-full hover:backdrop-blur-sm"
      >
        <div
          class="text-black transition duration-500 ease-in-out font-semi-bold dark:text-white"
        >
          {{ property.street }}
          <div *ngIf="property.unit" class="pl-0">{{ property.unit }}</div>
        </div>
        <div
          class="text-sm text-black transition duration-500 ease-in-out dark:text-white"
        >
          {{ property.city }}, {{ property.state }} {{ property.zip }}
        </div>
      </div>
    </div>
  </div>
</div> -->
